<h1>Laptop {{name}}</h1>
<div>
    <span class="span_name_details">Display:</span>
    <span class="span_description_details">{{display}}</span>
</div>
<div>
    <span class="span_name_details">Processor:</span>
    <span class="span_description_details">{{processor}}</span>
</div>
<div>
    <span class="span_name_details">Graphic Card:</span>
    <span class="span_description_details">{{graphic}}</span>
</div>
<div>
    <span class="span_name_details">Random Access Memory:</span>
    <span class="span_description_details">{{ramMemory}}</span>
</div>
<div>
    <span class="span_name_details">Total Capacity:</span>
    <span class="span_description_details">{{totalCapacity}}</span>
</div>
<div>
    <span class="span_name_details">Operating System:</span>
    <span class="span_description_details">{{operatingSystem}}</span>
</div>
<div>
    <span class="span_name_details_price">Price:</span>
    <span class="span_description_details_price"> {{price}}.00 €</span>
</div>
<div class="div_description_details"><span>{{description}}</span></div>