<div class="sidebar_content">
    <div class="search_form">
        <h2>Search</h2>

        <form method="get">
            <div class="range_div">
                <div class="range_slider">
                    <span>From price</span>
                    <div>
                        <input name="fromPrice" type="range" min="0" max="9999" value="{{fromPrice}}"
                            oninput="rangeValue1.innerText = this.value">
                        <p id="rangeValue1">{{fromPrice}}</p>
                    </div>
                </div>
                <div class="range_slider">
                    <span>To price</span>
                    <div>
                        <input name="toPrice" type="range" min="0" max="9999" value="{{toPrice}}"
                            oninput="rangeValue2.innerText = this.value">
                        <p id="rangeValue2">{{toPrice}}</p>
                    </div>
                </div>
            </div>
            <input name="search" placeholder="Enter product name..." value="{{search}}">
            <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>

    <div class="categories_content">
        <div class="categories_border">
            <h2>Catalog</h2>
            <ul>
                <li><a href="/catalog/all">All</a></li>
                <li><a href="/catalog/apple">Apple</a></li>
                <li><a href="/catalog/asus">Asus</a></li>
                <li><a href="/catalog/lenovo">Lenovo</a></li>
                <li><a href="/catalog/msi">MSI</a></li>
                <li><a href="/catalog/others">Others</a></li>
            </ul>
        </div>
    </div>
</div>

{{#if catalog}}
<div class="content_catalog">
    <div style="padding: 0 30px;">
        <div class="catalog_name">
            <span>{{title}}</span>
            <hr>
        </div>
        <div class="pagination">
            {{#if viewPage}}
            <div>
                <a href="{{#if prevFlag}}?previous=1{{else}}javascript:void(0){{/if}}" class="pagination_previous">&laquo; Previous</a>
                <a href="javascript:void(0)" class="pagination_a pagination_active">{{page}}</a>
                <a href="{{#if nextFlag}}?next=1{{else}}javascript:void(0){{/if}}" class="pagination_next">Next &raquo;</a>
            </div>
            {{/if}}
        </div>


        <div class="product_laptops">

            {{#each catalog}}
            <div class="laptop">
                <div class="laptop_img">
                    <a href="/catalog/details/{{id}}">
                        <img src="{{img1}}">
                    </a>
                </div>
                <div class="laptop_description">
                    <a href="/catalog/details/{{id}}">
                        <span>Laptop {{name}}</span>
                    </a>
                    <div class="product_description">
                        <div>
                            <span class="span_name">Display:</span>
                            <span class="span_description">{{display}}</span>
                        </div>
                        <div>
                            <span class="span_name">Processor:</span>
                            <span class="span_description">{{processor}}</span>
                        </div>
                        <div>
                            <span class="span_name">Graphic Card:</span>
                            <span class="span_description">{{graphic}}</span>
                        </div>
                        <div>
                            <span class="span_name">Random Access Memory:</span>
                            <span class="span_description">{{ramMemory}}</span>
                        </div>
                        <div>
                            <span class="span_name">Total Capacity:</span>
                            <span class="span_description">{{totalCapacity}}</span>
                        </div>
                        <div>
                            <span class="span_name">Operating System:</span>
                            <span class="span_description">{{operatingSystem}}</span>
                        </div>
                    </div>
                </div>
                <div class="laptop_total">
                    <span>{{price}}.00 €</span>
                    <div>
                        <a href="/catalog/details/{{id}}">Details</a>
                        {{!-- <a href="/cart">Add to Cart</a> --}}
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
        <div class="pagination">
            {{#if viewPage}}
            <div>
                <a href="{{#if prevFlag}}?previous=1{{else}}javascript:void(0){{/if}}" class="pagination_previous">&laquo; Previous</a>
                <a href="javascript:void(0)" class="pagination_a pagination_active">{{page}}</a>
                <a href="{{#if nextFlag}}?next=1{{else}}javascript:void(0){{/if}}" class="pagination_next">Next &raquo;</a>
            </div>
            {{/if}}
        </div>

    </div>
</div>

{{else}}
<div class="search_result">
    <div class="img_sad_smile">
        <img src="../static/img/sadSmile/sad-smile-1.png">
    </div>
    <div class="text_sad_smile">
        <span>Sorry, we couldn't find any results</span>
    </div>
</div>
{{/if}}